
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#dialog {
    border: 1px solid #ddd;
    height: 20px;
    width: calc(100% - 12px);
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
    font-size: 14px;
    font-family: monospace;
    background-color: #fefdfe;
    color: #555;
    position: absolute;
}

#dialog:focus {
    border: 1px solid lightsteelblue;
    background-color: #fcfcfe;
}

#content {
    /* background-color: #eef; */
    width: 500px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

#main {
    position: absolute;
    top: 10%;
    width: 100%;
}

#form {
    display: inline-block;
}

#history {
    display: inline-block;
    width: 100%;
    margin: 50px 0;
}

#history ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#history li {
    background-color: #fffa;
    border-radius: 4px;
    margin-top: 1px;
    padding: 0;
    display: inline-block;
    width: 100%;
    height: 24px;
}

#history li span:first-of-type {
    font-size: 14px;
    height: 100%;
    font-family: monospace;
    font-size: 13px;
    color: #555;
}

#history li span:nth-of-type(2) {
    float: right;
    width: 20px;
    height: auto;
    margin: 2px;
    color: darkblue;
    font-size: 12px;
    font-family: sans-serif;
    /* font-weight: bold; */
}

#history li.success {
    background-color: rgba(144, 238, 144, .6);
}
#history li.pending span:nth-of-type(2) {
    color: gray;
}
#history li.success span:nth-of-type(2) {
    color: green;
}
#history li.failure span:nth-of-type(2) {
    color: red;
}