<!DOCTYPE html>
<html>

    <header>
        <title> Download </title>
        <meta charset=utf-8>
        <link rel="stylesheet" href="../styles/style.css">
        <script type="text/javascript" src="../scripts/index.js"></script>
    </header>

    <body>
        <div id="content">
            <div id="main">
                <div id="form">
                    <input id="dialog" type="text" placeholder="Paste your URL here" onkeypress="on_enter(event, process_input, this.value)" pattern="^\s*(https?://(?:(www\.youtube\.com/watch\?v=)|(youtu.be/))\w+[/?&\w=]*)\s*$"/>
                </div>
                <div id="history">
                    <ul> 
                        <li class="pending"><span>https://www.youtube.com/watch?v=2DSODl2vjoQ</span><span>Progress</span></li>
                        <li class="failure"><span>asdfsdfsdfsdfsf</span><span>Failure</span></li>
                        <li class="success"><span>aazeaez</span><span>Success</span></li>
                        <li class="pending"><span>https://www.youtube.com/watch?v=2DSODl2vjoQ</span><span>Progress</span></li>
                        <li class="failure"><span>asdfsdfsdfsdfsf</span><span>Failure</span></li>
                        <li class="success"><span>aazeaez</span><span>Success</span></li>
                        <li class="pending"><span>https://www.youtube.com/watch?v=2DSODl2vjoQ</span><span>Progress</span></li>
                        <li class="failure"><span>asdfsdfsdfsdfsf</span><span>Failure</span></li>
                        <li class="success"><span>aazeaez</span><span>Success</span></li>
                        <li class="pending"><span>https://www.youtube.com/watch?v=2DSODl2vjoQ</span><span>Progress</span></li>
                        <li class="failure"><span>asdfsdfsdfsdfsf</span><span>Failure</span></li>
                        <li class="success"><span>aazeaez</span><span>Success</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>

</html>